<!DOCTYPE html>
<html>
  <head>
    <title>Bluebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('bluebook-logo.png') %>
    <script src="https://kit.fontawesome.com/80a4c4e583.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.developer = "<%= image_url('javier-linkedin1_low.jpg') %>"
      window.quarrel = "<%= image_url('quarrel_splash_page.png') %>"
      window.slackers = "<%= image_url('slackers_splash.png') %>"
      window.breakout = "<%= image_url('breakout_screenshot.png') %>"
    </script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
